<a href="https://colab.research.google.com/github/FPALMAG/Ejemplos/blob/main/S03_Midagri_300925.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*=========================================================================* \
**MIDAGRI** \
Autor: Mg. Fernando Palma Galindo     
Correo: pefpalma@upc.edu.pe
### **SESION 3**
*=========================================================================*

##### Activar R en Colab

In [ ]:
# ===============================
# Instalar R en Google Colab
# ===============================
# El prefijo "!" permite ejecutar comandos de la terminal de Linux
# directamente desde una celda de Colab.
# "apt-get install -y r-base" instala el núcleo de R (R Base).
# El parámetro "-y" responde automáticamente "yes" a todas las preguntas,
# evitando que el usuario tenga que confirmar manualmente.
!apt-get install -y r-base

# ===============================
# Activar el intérprete de R en Colab
# ===============================
# El prefijo "%" indica que es un "comando mágico" en Jupyter/Colab.
# "load_ext rpy2.ipython" carga la extensión rpy2,
# que permite ejecutar código en R dentro de Colab.
# Una vez activado, puedes usar "%%R" al inicio de una celda
# para escribir directamente código R en lugar de Python.
%load_ext rpy2.ipython

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
r-base is already the newest version (4.5.1-1.2204.0).
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

##### Descarga e instalación de paqueterías

In [1]:
#%%R

install.packages("dplyr")       # Instala el paquete 'dplyr' (manipulación eficiente de datos)
install.packages("tidyverse")   # Instala 'tidyverse', que incluye varios paquetes útiles como ggplot2, dplyr, tidyr, readr, etc.
install.packages("readr")       # Instala 'readr' para leer datos en formatos como CSV
install.packages("readxl")      # Instala 'readxl' para leer archivos Excel (.xls, .xlsx)
install.packages("haven")       # Instala 'haven' para leer datos de Stata, SPSS y SAS
# install.packages("sf")        # Instala 'sf' (commentado, sirve para datos espaciales / SIG)
install.packages("curl")        # Instala 'curl', útil para descargar datos desde la web

library(dplyr)                  # Carga 'dplyr' (manipulación de datos: filtros, joins, etc.)
library(tidyverse)              # Carga 'tidyverse' (colección de paquetes para ciencia de datos)
library(readr)                  # Carga 'readr' (lectura rápida de archivos planos como CSV/TSV)
library(readxl)                 # Carga 'readxl' (lectura de archivos Excel)
library(haven)                  # Carga 'haven' (lectura de formatos de software estadístico)
# library(sf)                   # Carga 'sf' (commentado, solo si se trabaja con datos espaciales)
library(curl)                   # Carga 'curl' (para conectarse y descargar archivos desde internet)
library(googledrive)            # Permite acceder, descargar y subir archivos desde Google Drive
library(googlesheets4)          # Permite leer y escribir directamente en Google Sheets

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.1     ✔ readr     2.1.5
✔ ggplot2   4.0.0     ✔ stringr   1.5.2
✔ lubridate 1.9.4     ✔ tibble    3.3.0
✔ purrr     1.1.0     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Using libcurl 7.81.0 with OpenSSL/3.0.2


Attaching package: ‘curl’


The following object is masked from ‘package:readr’:

    parse_date



Attaching package: ‘googlesheets4’


The following objects are masked from ‘package:googledrive’:

    request_generate, request_make

### Recap

In [4]:
# Lista de departamentos del Perú
departamentos <- c("Amazonas", "Áncash", "Apurímac", "Arequipa", "Ayacucho",
                   "Cajamarca", "Callao", "Cusco", "Huancavelica", "Huánuco",
                   "Ica", "Junín", "La Libertad", "Lambayeque", "Lima",
                   "Loreto", "Madre de Dios", "Moquegua", "Pasco", "Piura",
                   "Puno", "San Martín", "Tacna", "Tumbes", "Ucayali")

In [5]:
class(departamentos)

[1] "character"

In [6]:
length(departamentos)

[1] 25

In [7]:
# Semilla para reproducibilidad
set.seed(123)

In [19]:
sample(1:10, 5,replace=TRUE)

[1] 1 8 4 9 8

In [27]:
Consumo = sample(100:1000, length(departamentos), replace = TRUE)
Consumo # Nos muestra todos los datos del data frame creado con numeros aleatorios

 [1] 277 516 563 511 276 623 536 677 661 303 274 472 745 563 483 221 498 502 414
[20] 358 593 964 859 388 147

In [28]:
Produccion = sample(500:5000, length(departamentos), replace = TRUE)
Produccion

 [1] 4039 2350 2172 3966 4703 4603 4856 3088 2829 2108 3838 2259  703 3923 1166
[16] 1355 2447 3169 2459 1145 1559 3626 4061 1763 2155

In [29]:
# Base de datos simulada
base_datos <- data.frame(
  Departamento = departamentos,
  Consumo = sample(100:1000, length(departamentos), replace = TRUE),
  Produccion = sample(500:5000, length(departamentos), replace = TRUE)
)

Ejercicio: Crear una base de datos con los nombres de los participantes de la clase, su sueldo promedio y numero propiedades

In [31]:
Nombres<-c('Deivis','Patricia','Witman','Eva','Gabriel','Gouri','Jose Carlos','Lita','Luis','Melqui','Rafael','Raul','Javier')

In [32]:
class(Nombres)

[1] "character"

In [46]:
bd <- data.frame(
  nombres = Nombres,
  sueldo = sample(15000:30000, length(Nombres), replace = TRUE),
  propiedades = sample(0:5, length(Nombres), replace = TRUE)
)
bd

   nombres     sueldo propiedades
1  Deivis      15458  4
2  Patricia    21659  1
3  Witman      26078  0
4  Eva         28623  1
5  Gabriel     28873  2
6  Gouri       26131  2
7  Jose Carlos 23330  1
8  Lita        24973  1
9  Luis        15480  3
10 Melqui      24034  4
11 Rafael      25043  1
12 Raul        27537  2
13 Javier      27005  5

In [47]:
# a) Filtrar participante con sueldo > 18000
filtro1 <- subset(bd, sueldo > 18000)
print(filtro1)

       nombres sueldo propiedades
2     Patricia  21659           1
3       Witman  26078           0
4          Eva  28623           1
5      Gabriel  28873           2
6        Gouri  26131           2
7  Jose Carlos  23330           1
8         Lita  24973           1
10      Melqui  24034           4
11      Rafael  25043           1
12        Raul  27537           2
13      Javier  27005           5

In [48]:
# b) Filtrar participante con consumo < 17000
filtro2 <- subset(bd, sueldo < 17000)
print(filtro2)

  nombres sueldo propiedades
1  Deivis  15458           4
9    Luis  15480           3

In [49]:
# c) Ordenar por sueldo (de mayor a menor)
bd_ordenado <- bd[order(-bd$sueldo), ]
print(bd_ordenado)

       nombres sueldo propiedades
5      Gabriel  28873           2
4          Eva  28623           1
12        Raul  27537           2
13      Javier  27005           5
6        Gouri  26131           2
3       Witman  26078           0
11      Rafael  25043           1
8         Lita  24973           1
10      Melqui  24034           4
7  Jose Carlos  23330           1
2     Patricia  21659           1
9         Luis  15480           3
1       Deivis  15458           4

In [50]:
# d) Crear una nueva columna: hijos
bd$hijos <- sample(1:5, length(Nombres), replace = TRUE)
bd

   nombres     sueldo propiedades hijos
1  Deivis      15458  4           5
2  Patricia    21659  1           3
3  Witman      26078  0           3
4  Eva         28623  1           2
5  Gabriel     28873  2           2
6  Gouri       26131  2           1
7  Jose Carlos 23330  1           3
8  Lita        24973  1           5
9  Luis        15480  3           3
10 Melqui      24034  4           5
11 Rafael      25043  1           1
12 Raul        27537  2           2
13 Javier      27005  5           4

In [51]:
# e) Clasificar participantes por categoria
bd$categoria <- ifelse(bd$hijos > 2, "Alta carga familiar", "Baja carga familiar")
bd

   nombres     sueldo propiedades hijos categoria
1  Deivis      15458  4           5     Alta carga familiar
2  Patricia    21659  1           3     Alta carga familiar
3  Witman      26078  0           3     Alta carga familiar
4  Eva         28623  1           2     Baja carga familiar
5  Gabriel     28873  2           2     Baja carga familiar
6  Gouri       26131  2           1     Baja carga familiar
7  Jose Carlos 23330  1           3     Alta carga familiar
8  Lita        24973  1           5     Alta carga familiar
9  Luis        15480  3           3     Alta carga familiar
10 Melqui      24034  4           5     Alta carga familiar
11 Rafael      25043  1           1     Baja carga familiar
12 Raul        27537  2           2     Baja carga familiar
13 Javier      27005  5           4     Alta carga familiar

In [52]:
# f) Contar cuántos participantes tiene alta o baja carga familiar
table(bd$categoria)

Alta carga familiar Baja carga familiar
                  8                   5

In [53]:
# g) Resumen estadístico de todas las variables numéricas
summary(bd[, c("sueldo", "propiedades", "hijos")])

     sueldo       propiedades        hijos
 Min.   :15458   Min.   :0.000   Min.   :1
 1st Qu.:23330   1st Qu.:1.000   1st Qu.:2
 Median :25043   Median :2.000   Median :3
 Mean   :24171   Mean   :2.077   Mean   :3
 3rd Qu.:27005   3rd Qu.:3.000   3rd Qu.:4
 Max.   :28873   Max.   :5.000   Max.   :5

In [56]:
# h) Top 3 de participantes con mayores sueldos
bd_top3 <- head(bd[order(-bd$sueldo), ], 3)
print(bd_top3)

   nombres sueldo propiedades hijos           categoria
5  Gabriel  28873           2     2 Baja carga familiar
4      Eva  28623           1     2 Baja carga familiar
12    Raul  27537           2     2 Baja carga familiar

In [57]:
# i) Promedio de sueldo e hijos por categoría
promedios_categoria <- aggregate(cbind(sueldo,hijos) ~ categoria,
                                 data = bd,
                                 FUN = mean, na.rm = TRUE)
print(promedios_categoria)

            categoria   sueldo hijos
1 Alta carga familiar 22252.12 3.875
2 Baja carga familiar 27241.40 1.600

In [30]:
class(base_datos)

[1] "data.frame"

In [ ]:
# ============================================================================ #
# Manipulacion de datos
# ============================================================================ #

# Lista de departamentos del Perú
departamentos <- c("Amazonas", "Áncash", "Apurímac", "Arequipa", "Ayacucho",
                   "Cajamarca", "Callao", "Cusco", "Huancavelica", "Huánuco",
                   "Ica", "Junín", "La Libertad", "Lambayeque", "Lima",
                   "Loreto", "Madre de Dios", "Moquegua", "Pasco", "Piura",
                   "Puno", "San Martín", "Tacna", "Tumbes", "Ucayali")

# Semilla para reproducibilidad
set.seed(123)

# Base de datos simulada
base_datos <- data.frame(
  Departamento = departamentos,
  Consumo = sample(100:1000, length(departamentos), replace = TRUE),
  Produccion = sample(500:5000, length(departamentos), replace = TRUE)
)

# Vista rápida
head(base_datos)

In [2]:

#%%R

set.seed(42)
n_obs <- 20 # Número de observaciones
df_original <- data.frame(
  var_a = rnorm(n_obs, mean = 10, sd = 3),
  var_b = rnorm(n_obs, mean = 50, sd = 10),
  var_c = rnorm(n_obs, mean = 100, sd = 20),
  var_d = rnorm(n_obs, mean = 5, sd = 1)
)

print(summary(df_original))

     var_a            var_b           var_c            var_d
 Min.   : 2.031   Min.   :25.86   Min.   : 40.14   Min.   :3.900
 1st Qu.: 9.160   1st Qu.:41.99   1st Qu.: 89.89   1st Qu.:4.411
 Median :10.451   Median :47.18   Median :104.83   Median :5.400
 Mean   :10.576   Mean   :47.29   Mean   : 99.98   Mean   :5.161
 3rd Qu.:13.926   3rd Qu.:54.71   3rd Qu.:112.92   3rd Qu.:5.733
 Max.   :16.860   Max.   :68.95   Max.   :131.51   Max.   :6.400

In [3]:
print(n_obs)

[1] 20

In [ ]:
#%%R

# ¿Como podemos escalar una variable?
# En este caso emplearemos el min-max

min_a <- min(df_original$var_a)
max_a <- max(df_original$var_a)

df_original$var_a_scaled <- (df_original$var_a - min_a) / (max_a - min_a)

print(head(df_original$var_a_scaled))
# print(summary(df_original$var_a_scaled))

[1] 0.8147545 0.4231670 0.6108683 0.6654362 0.6191910 0.5159375

In [ ]:
#%%R
x_ejm <- df_original$var_a

rango_x <- range(x_ejm, na.rm=TRUE, finite=TRUE)
print(rango_x)

print(paste("Min: ", rango_x[1]))
print(paste("Max: ", rango_x[2]))

(x_ejm - rango_x[1]) / (rango_x[2] - rango_x[1])

[1]  2.030634 16.859936
[1] "Min:  2.03063373728567"
[1] "Max:  16.8599361781033"

##### 1. Funciones

In [ ]:
%%R

#===============================================================================
# Funciones
#===============================================================================

# Definición de una función en R:
#   nombre_funcion <- function(arg1, arg2, ...) {
#     instrucciones
#   }
#
# Explicación:
# - El cuerpo de la función contiene el código que se ejecuta al llamarla.
# - Los argumentos (arg1, arg2, ...) son los valores de entrada que la función recibe.
# - La instrucción return() indica explícitamente qué valor debe devolver la función.
# - Si no se usa return(), R devuelve automáticamente el resultado de la última expresión evaluada.

In [ ]:
%%R

escalamiento_minmax <- function(x) {
  # Calcular mínimo y máximo, ignorando NA e infinitos
  limites <- range(x, na.rm = TRUE, finite = TRUE)

  # Aplicar la fórmula de reescalamiento
  x_reescalado <- (x - limites[1]) / (limites[2] - limites[1])

  return(x_reescalado)
}

In [ ]:
%%R
## Probamos nuestra función

print(escalamiento_minmax(c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)))
print(escalamiento_minmax(rnorm(10, mean = 5, sd = 3))) # N?meros aleatorios
print(escalamiento_minmax(c(1, 2, 3, 4, NA, 5, 6, 7, 8, 9, 10))) # Con un valor NA
print(escalamiento_minmax(c(1, 2, 3, 4, NA, 5, -Inf, NaN))) # Con NA, Inf y NaN (NaN es Not a Number)

 [1] 0.0000000 0.1111111 0.2222222 0.3333333 0.4444444 0.5555556 0.6666667
 [8] 0.7777778 0.8888889 1.0000000
 [1] 1.0000000 0.5364725 0.4738648 0.3965342 0.0000000 0.6672707 0.3609812
 [8] 0.3736826 0.7859797 0.7447637
 [1] 0.0000000 0.1111111 0.2222222 0.3333333        NA 0.4444444 0.5555556
 [8] 0.6666667 0.7777778 0.8888889 1.0000000
[1] 0.00 0.25 0.50 0.75   NA 1.00 -Inf  NaN

In [ ]:
%%R

df_reescalado <- df_original # Creamos una copia para no modificar el original
df_reescalado$var_a <- escalamiento_minmax(df_reescalado$var_a)
df_reescalado$var_b <- escalamiento_minmax(df_reescalado$var_b)
df_reescalado$var_c <- escalamiento_minmax(df_reescalado$var_c)
df_reescalado$var_d <- escalamiento_minmax(df_reescalado$var_d)

In [ ]:
%%R

print(head(df_reescalado))
print(summary(df_reescalado))

      var_a     var_b     var_c     var_d var_a_scaled
1 0.8147545 0.4890631 0.7002006 0.2930750    0.8147545
2 0.4231670 0.1468648 0.5760862 0.5141038    0.4231670
3 0.6108683 0.5203253 0.8210556 0.6727716    0.6108683
4 0.6654362 0.8420851 0.4960551 1.0000000    0.6654362
5 0.6191910 1.0000000 0.3556301 0.1490243    0.6191910
6 0.5159375 0.4603281 0.7498457 0.9611148    0.5159375
     var_a            var_b            var_c            var_d
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.4807   1st Qu.:0.3743   1st Qu.:0.5445   1st Qu.:0.2044
 Median :0.5678   Median :0.4948   Median :0.7079   Median :0.6000
 Mean   :0.5762   Mean   :0.4973   Mean   :0.6549   Mean   :0.5042
 3rd Qu.:0.8022   3rd Qu.:0.6696   3rd Qu.:0.7965   3rd Qu.:0.7331
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
  var_a_scaled
 Min.   :0.0000
 1st Qu.:0.4807
 Median :0.5678
 Mean   :0.5762
 3rd Qu.:0.8022
 Max.   :1.0000

In [ ]:
%%R
# Creamos una funcion para contar el numero total de NAs en dos obs

sum_na<- function (vector1, vector2){
    total_na <- sum(is.na(vector1)) + sum(is.na(vector2))
    return (total_na)
}

# Ingresamos los inputs
x_vec <- c(1:10, 4, NA, 30, NA, 15)
y_vec <- c(1:5, NA, 5:1, NA, 3, 4, NA)

In [ ]:
%%R

conteo_nas <- sum_na(x_vec, y_vec)
print(paste("Número de NAs en ambos vectores:", conteo_nas))

[1] "Número de NAs en ambos vectores: 5"

In [ ]:
%%R
# Creamos una funcion para encontrar la posicion en la que aparece el NA

primer_na_combinado <- function(vector1, vector2) {
  # 'is.na(vector1) | is.na(vector2)' crea un vector l?gico donde TRUE indica
  # que hay un NA en 'vector1' O en 'vector2' en esa posici?n.
  total_na_logical <- is.na(vector1) | is.na(vector2)

  # 'which(total_na_logical)' devuelve los ?ndices de los elementos que son TRUE.
  # '[1]' toma el primer ?ndice de esa lista, que ser? la posici?n del primer NA.
  primer_na_indice <- which(total_na_logical)[1]

  # Si no hay NAs, 'which' devolver? un vector vac?o, y '[1]' ser? NA.
  # Podemos a?adir una verificaci?n para un mensaje m?s claro:
  if (is.na(primer_na_indice)) {
    return("No se encontraron NAs en las posiciones combinadas.")
  } else {
    return(paste("La posici?n del primer NA combinado es:", primer_na_indice))
  }
}

In [ ]:
%%R
# Probamos con los mismos vectores 'x_vec' y 'y_vec':
posicion_na <- primer_na_combinado(x_vec, y_vec)
print(posicion_na) # Deber?a ser 6, ya que y_vec[6] es el primer NA.

[1] "La posici?n del primer NA combinado es: 6"

In [ ]:
%%R
# Probemos con vectores sin NAs:
vec_sin_na1 <- 1:10
vec_sin_na2 <- 11:20
posicion_na_sin_na <- primer_na_combinado(vec_sin_na1, vec_sin_na2)
print(posicion_na_sin_na)

[1] "No se encontraron NAs en las posiciones combinadas."

In [ ]:
%%R

# Función para listar posiciones de NA en dos vectores
posiciones_na <- function(vector1, vector2) {
  # Posiciones con NA en cada vector
  na_v1 <- which(is.na(vector1))
  na_v2 <- which(is.na(vector2))

  # Posiciones donde al menos uno de los dos tiene NA
  na_comb <- which(is.na(vector1) | is.na(vector2))

  # Retornar como lista nombrada
  return(list(
    vector1 = na_v1,
    vector2 = na_v2,
    combinadas = na_comb
  ))
}

# Ejemplo de uso
x_vec <- c(1, 2, NA, 4, 5, 6, NA)
y_vec <- c(10, NA, 30, 40, 50, NA, 70)

resultado <- posiciones_na(x_vec, y_vec)
print(resultado)

$vector1
[1] 3 7

$vector2
[1] 2 6

$combinadas
[1] 2 3 6 7

In [ ]:
%%R

# Estadarizacion


# Esta transformación convierte un vector numérico
# a una escala con media = 0 y desviación estándar = 1.
# Fórmula:
#   z = (x - media) / desviación_estándar

# Uso típico:
#   - Comparar variables en distintas escalas
#   - Preparar datos para algoritmos de machine learning
# La función ignora valores NA en los cálculos de media y desviación.



normalizar_z <- function(valores) {
  # Calcular media y desviación estándar (excluyendo NAs)
  media <- mean(valores, na.rm = TRUE)
  desv <- sd(valores, na.rm = TRUE)

  # Transformar a escala Z-score
  z_scores <- (valores - media) / desv

  return(z_scores)
}

In [ ]:
%%R

# Probemos la funci?n con 'var_a' del data frame original.
var_a_estandarizada <- normalizar_z(df_original$var_a)
print(head(var_a_estandarizada))
print(paste("Media:", round(mean(var_a_estandarizada, na.rm = TRUE), 5)))
print(paste("SD:", round(sd(var_a_estandarizada, na.rm = TRUE), 5)))

[1]  0.8982271 -0.5764146  0.1304317  0.3359234  0.1617734 -0.2270593
[1] "Media: 0"
[1] "SD: 1"

##### 2. Condicionales

In [ ]:
%%R

#===============================================================================
# IF
#===============================================================================
# 'if' permite ejecutar un bloque de código si se cumple una condición.
# Sintaxis:
# if(condición) {
#   # código si la condición es TRUE
# }

# if: se utiliza para ejecutar una acción solo si una condición se cumple.

[1] "El número es positivo"

In [ ]:
%%R

# Ejemplo 1:
x <- 7
if(x > 5){
  print("x es mayor que 5")
}

In [ ]:
%%R

# Ejemplo 2:
# Función: verificar si un número es positivo
es_positivo <- function(x) {
  if (x > 0) {
    return("El número es positivo")
  }
  return("El número no es positivo")
}
es_positivo(5)
# es_positivo(-3)

In [ ]:
%%R

#===============================================================================
# IF... ELSE
#===============================================================================
# if ... else: útil para tomar una decisión entre dos caminos posibles.

# Ejemplo 3:
# Función: verificar si un número es par o impar
par_o_impar <- function(x) {
  if (x %% 2 == 0) {
    return("Par")
  } else {
    return("Impar")
  }
}
par_o_impar(4)
par_o_impar(7)

[1] "Impar"

In [ ]:
%%R

#===============================================================================
# IF... ELSE IF...ELSE
#===============================================================================
# if con múltiples condiciones: para evaluar varias reglas dentro de la misma función.

# Ejemplo 4:
# Función: clasificar nota como "aprobado", "recuperación" o "desaprobado"
clasificar_nota <- function(nota) {
  if (nota >= 70) {
    return("Aprobado")
  } else if (nota >= 50) {
    return("Recuperación")
  } else {
    return("Desaprobado")
  }
}
clasificar_nota(85)
clasificar_nota(60)
clasificar_nota(40)

[1] "Desaprobado"

In [ ]:
%%R

# Ejemplo 5: asignar letra de calificación (A, B, C, D, F)
notas <- c(95, 82, 76, 65, 50, 88)
letra <- character(length(notas))
for(i in seq_along(notas)){
  if(notas[i] >= 90){
    letra[i] <- "A"
  } else if(notas[i] >= 80){
    letra[i] <- "B"
  } else if(notas[i] >= 70){
    letra[i] <- "C"
  } else if(notas[i] >= 60){
    letra[i] <- "D"
  } else{
    letra[i] <- "F"
  }
}
print(letra)

[1] "A" "B" "C" "D" "F" "B"

In [ ]:
%%R

# if, else y validación: manejo de entradas con mensajes de error.

# Ejemplo 6: calcular raíz cuadrada solo si el número es válido
raiz_segura <- function(x) {
  if (is.na(x)) {
    return("El valor es NA, no se puede calcular.")
  } else if (x < 0) {
    return("Número negativo: no tiene raíz real.")
  } else {
    return(sqrt(x))
  }
}
raiz_segura(16)
raiz_segura(-4)
# raiz_segura(NA)

[1] "El valor es NA, no se puede calcular."

In [ ]:
%%R

[1] 20

###### Ejercicio aplicado 1

In [ ]:
%%R

data(package = "agridat")
data("yates.oats", package = "agridat")
head(yates.oats)

  row col yield nitro        gen block grain straw
1  16   3    80     0 GoldenRain    B1 20.00 28.00
2  12   4    60     0 GoldenRain    B2 15.00 25.00
3   3   3    89     0 GoldenRain    B3 22.25 40.50
4  14   1   117     0 GoldenRain    B4 29.25 28.75
5   8   2    64     0 GoldenRain    B5 16.00 32.00
6   5   2    70     0 GoldenRain    B6 17.50 27.25

In [ ]:
%%R

# Función para calcular el promedio de rendimiento por bloque
promedio_por_bloque <- function(data) {
  if (!all(c("yield", "block") %in% names(data))) {
    stop("El dataset debe contener columnas 'yield' y 'block'")
  }

  aggregate(yield ~ block, data = data, FUN = mean, na.rm = TRUE)
}

# Uso de la función
resultados <- promedio_por_bloque(yates.oats)
print(resultados)

  block     yield
1    B1  90.91667
2    B2  95.91667
3    B3  96.25000
4    B4 135.33333
5    B5  98.16667
6    B6 107.25000

###### Ejercicio aplicado 2

In [ ]:
%%R


install.packages("CO2")
library(dplyr)

data("CO2")
head(CO2)

  Plant   Type  Treatment conc uptake
1   Qn1 Quebec nonchilled   95   16.0
2   Qn1 Quebec nonchilled  175   30.4
3   Qn1 Quebec nonchilled  250   34.8
4   Qn1 Quebec nonchilled  350   37.2
5   Qn1 Quebec nonchilled  500   35.3
6   Qn1 Quebec nonchilled  675   39.2

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
In addition: Warning message:
package ‘CO2’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages

In [ ]:
%%R

# Ejercicio aplicado 2: Calcula promedio de uptake por Type y Treatment

promedio_uptake <- function(data) {
  # Validación de columnas
  if (!all(c("Type", "Treatment", "uptake") %in% names(data))) {
    stop("El dataset debe contener columnas 'Type', 'Treatment' y 'uptake'")
  }

  # Calcular promedio por Type y Treatment
  resumen <- aggregate(uptake ~ Type + Treatment, data = data, FUN = mean)

  return(resumen)
}

# 4. Aplicar la función al dataset CO2
resultado <- promedio_uptake(CO2)
print(resultado)

         Type  Treatment   uptake
1      Quebec nonchilled 35.33333
2 Mississippi nonchilled 25.95238
3      Quebec    chilled 31.75238
4 Mississippi    chilled 15.81429

##### 3. Bucles

In [ ]:
%%R

#===============================================================================
# Bucles
#===============================================================================

# Un bucle 'for' permite ejecutar repetidamente un bloque de código
# sobre una secuencia de elementos (vectores, listas, matrices).

# Sintaxis básica:
# for(variable in secuencia) {
#   # código que se repite
# }

# for: cuando quieres recorrer un vector y aplicar una operación sencilla a cada elemento.

[1] 2
[1] 4
[1] 6
[1] 8

In [ ]:
%%R

# Ejemplo 1: imprimir cada número de un vector
vec <- c(2, 4, 6, 8)
for (i in vec) {
  print(i)
}

In [ ]:
%%R

# Ejemplo 2: calcular el cuadrado de cada elemento de un vector
numeros <- c(1, 3, 5, 7)
cuadrados <- numeric(length(numeros))  # preasignar vector vacío
for (i in seq_along(numeros)) {
  cuadrados[i] <- numeros[i]^2
}
print(cuadrados)

[1]  1  9 25 49

In [ ]:
%%R

# Ejemplo 3:
vec <- c(1, 2, 3, 4, 5)
resultado <- numeric(length(vec))
for(i in seq_along(vec)){
  resultado[i] <- vec[i] * 10
}
print(resultado)

In [ ]:
%%R

# Ejemplo 4:
numeros <- c(1, 4, 7, 8, 10)
suma_pares <- 0
for(n in numeros){
  if(n %% 2 == 0) suma_pares <- suma_pares + n
}
print(suma_pares)

In [ ]:
%%R

# Ejemplo 5: imprimir solo números positivos, ignorando NAs
valores <- c(3, -2, NA, 5, -1)
for (v in valores) {
  if (is.na(v)) next  # saltar NAs
  if (v > 0) print(v)
}

[1] 3
[1] 5

In [ ]:
%%R

# Ejemplo 6: contar cuántos elementos son mayores que 5
numeros <- c(4, 7, 2, 9, 5)
contador <- 0
for (i in numeros) {
  if (i > 5) contador <- contador + 1
}
print(contador)

[1] 2

In [ ]:
%%R

# Ejemplo 7: crear un vector dummy de aprobado/desaprobado por notas
notas <- c(85, 42, 70, 58, NA, 90)
aprobado <- numeric(length(notas))
for (i in seq_along(notas)) {
  if (is.na(notas[i])) {
    aprobado[i] <- NA
    next
  }
  if (notas[i] >= 60) {
    aprobado[i] <- 1
  } else {
    aprobado[i] <- 0
  }
}
print(aprobado)

[1]  1  0  1  0 NA  1

In [ ]:
# ===============================
# BUCLES Y FUNCIONES
# ===============================
%%R


# Podemos combinar 'for' con funciones para hacer código más modular
promedio_vector <- function(vec){
  total <- 0
  n <- length(vec)
  for(v in vec){
    total <- total + v
  }
  return(total/n)
}

print(promedio_vector(c(10,20,30,40)))

[1] 25

###### While

In [ ]:
# ===============================
# WHILE
# ===============================

%%R

# Ejemplo 1:
contador <- 1
while(contador <= 3){
  print(paste("Iteración número", contador))
  contador <- contador + 1
}

[1] "Iteración número 1"
[1] "Iteración número 2"
[1] "Iteración número 3"

In [ ]:
%%R

# Ejemplo 2: sumar los números del 1 al 5
i <- 1
suma <- 0
while(i <= 5){
  suma <- suma + i
  i <- i + 1
}
print(suma)

[1] 15

In [ ]:
%%R


# Ejemplo 3: imprimir números hasta encontrar un número mayor que 7
numeros <- c(2,4,6,8,3)
i <- 1
while(numeros[i] <= 7){
  print(numeros[i])
  i <- i + 1
}

[1] 2
[1] 4
[1] 6

In [ ]:
%%R

# Ejemplo 4: contar cuántos valores positivos hay en un vector
valores <- c(-2,3,NA,5,-1,6)
i <- 1
contador <- 0
while(i <= length(valores)){
  if(!is.na(valores[i]) & valores[i] > 0){
    contador <- contador + 1
  }
  i <- i + 1
}
print(contador)

In [ ]:

%%R

# Ejemplo 5: aproximación de raíz cuadrada usando el método de Newton
x <- 25
aprox <- x / 2
tolerancia <- 1e-6
while(abs(aprox^2 - x) > tolerancia){
  aprox <- (aprox + x/aprox)/2
}
print(aprox)

[1] 5

In [ ]:
%%R

# Ejemplo 6: simular lanzamiento de dados hasta obtener un 6
set.seed(123)
dado <- 0
contador <- 0
while(dado != 6){
  dado <- sample(1:6,1)
  contador <- contador + 1
  print(paste("Lanzamiento", contador, ":", dado))
}
print(paste("Número de lanzamientos hasta obtener un 6:", contador))

[1] "Lanzamiento 1 : 3"
[1] "Lanzamiento 2 : 6"
[1] "Número de lanzamientos hasta obtener un 6: 2"

In [ ]:
%%R

# Ejemplo 7
print("--- Ejemplo de 'break' con 'while':")
numero_descendente <- 20
while (numero_descendente > 5) {
  if (numero_descendente == 15) {
    print("?N?mero es 15! Rompiendo el bucle.")
    break # Sale del bucle cuando numero_descendente es 15.
  }
  print(numero_descendente)
  numero_descendente <- numero_descendente - 1
}
print(paste("El valor final de 'numero_descendente' es:", numero_descendente))

In [ ]:
%%R

# Ejemplo 8: simular medias muestrales
set.seed(123)

# Iteramos sobre los tamaños de muestra
for (x in c(1, 10, 100, 1000)) {

  # Inicializar vectores
  m_normal      <- rep(NA, x)
  m_chisquare   <- rep(NA, x)
  m_exponencial <- rep(NA, x)
  m_uniforme    <- rep(NA, x)

  # Llenar vectores con medias simuladas
  i <- 1
  while (i <= x) {
    m_normal[i]      <- mean(rnorm(10000, -2, sqrt(3)))
    m_chisquare[i]   <- mean(rchisq(10000, 15))
    m_exponencial[i] <- mean(rexp(10000, 3))
    m_uniforme[i]    <- mean(runif(10000, -5, 8))
    i <- i + 1
  }

  # Guardar resultados en un data frame dinámicamente
  assign(paste0("distribuciones_", x),
         data.frame(m_normal, m_chisquare, m_exponencial, m_uniforme))
}

UsageError: Cell magic `%%R` not found.

###### Repeat

In [ ]:
# ===============================
# REPEAT
# ===============================

# Un bucle 'repeat' ejecuta un bloque de código de manera indefinida
# hasta que se cumpla una condición de salida (generalmente usando 'break').
#
# Sintaxis:
# repeat {
#   # código que se repite
#   if (condición) {
#     break   # detiene el bucle
#   }
# }
#
# Si no se incluye 'break', el bucle será infinito.

In [ ]:
%%R

# Ejercicio 1: Contar del 1 al 5
i <- 1
repeat {
  print(i)
  i <- i + 1
  if (i > 5) {
    break
  }
}

In [ ]:
%%R

# Ejercicio 2: Buscar el primer número divisible por 7
x <- 1
repeat {
  if (x %% 7 == 0) {
    print(paste(x, "es divisible por 7"))
    break
  }
  x <- x + 1
}

In [ ]:
%%R
# Ejercicio 3: Simulación de lanzamiento de dado hasta obtener un 6
repeat {
  dado <- sample(1:6, 1)
  print(paste("Salió", dado))
  if (dado == 6) {
    print("¡Se obtuvo un 6, fin del bucle!")
    break
  }
}

In [ ]:
%%R

# Ejercicio 4

contador_repeat <- 0

repeat {
  contador_repeat <- contador_repeat + 1
  if (contador_repeat == 5) {
    print("Contador lleg? a 5. Saliendo del bucle 'repeat'.")
    break
  }
  print(paste("Iteraci?n repeat:", contador_repeat))
}
print(paste("Valor final de 'contador_repeat':", contador_repeat))

###### Ejercicio aplicado 3

In [ ]:
%%R

data("CO2")

# Ejercicio aplicado 3: contar cuántas plantas tienen uptake > 30
i <- 1
contador <- 0
while(i <= nrow(CO2)){
  if(CO2$uptake[i] > 30){
    contador <- contador + 1
  }
  i <- i + 1
}
print(paste("Número de plantas con uptake > 30:", contador))

[1] "Número de plantas con uptake > 30: 40"

##### Sentencias

In [ ]:
# ===============================
#  Sentencias 'break' y 'next'
# ===============================
#
#    'break':
#   - Se utiliza dentro de un bucle ('for', 'while' o 'repeat').
#   - Sirve para DETENER por completo la ejecución del bucle.
#   - Una vez ejecutado, el bucle finaliza y el control pasa a la
#     siguiente instrucción después del bucle.
#
#    'next':
#   - También se usa dentro de bucles.
#   - Sirve para SALTAR la iteración actual y continuar con la siguiente.
#   - El bucle no se detiene, solo ignora el resto del código de esa vuelta.
#
# Diferencia clave:
#   - 'break' → corta el bucle.
#   - 'next'  → salta a la siguiente iteración.

In [ ]:
%%R

# Ejercicio 1: Detener al llegar a 5
for (i in 1:10) {
  if (i == 5) {
    break
  }
  print(i)
}

In [ ]:
%%R

# Ejercicio 2: Buscar el primer múltiplo de 9
x <- 1
repeat {
  if (x %% 9 == 0) {
    print(paste("Primer múltiplo de 9 encontrado:", x))
    break
  }
  x <- x + 1
}

In [ ]:
%%R

# Ejercicio 3: Salir de un while cuando se cumple una condición
i <- 1
while (TRUE) {
  if (i > 3) {
    break
  }
  print(paste("Iteración:", i))
  i <- i + 1
}

In [ ]:
%%R

# Ejercicio 1: Omitir el número 3
for (i in 1:5) {
  if (i == 3) {
    next
  }
  print(i)
}

In [ ]:
%%R

# Ejercicio 2: Mostrar solo pares
for (n in 1:10) {
  if (n %% 2 != 0) {
    next
  }
  print(n)
}

In [ ]:
%%R

# Ejercicio 3: Saltar valores negativos en un vector
valores <- c(10, -5, 8, -2, 12)

for (v in valores) {
  if (v < 0) {
    next
  }
  print(paste("Valor positivo:", v))

In [ ]:
%%R

# Ejemplo 4: sumar solo los números pares de un vector, ignorando NAs
suma_pares <- function(vec) {
  total <- 0
  for (i in vec) {
    if (is.na(i)) {
      next  # ignora valores faltantes
    }
    if (i %% 2 != 0) {
      next  # ignora impares
    }
    total <- total + i
  }
  return(total)
}
suma_pares(c(2, 3, 4, NA, 6, 7, 8))

In [ ]:
# --- C03-Global and Local Variables ------------------------------------------
# En R, el "scope" (ámbito) define dónde una variable puede ser accedida.
# Es fundamental diferenciar entre variables GLOBALES y LOCALES:

#    Variable Global:
#   - Se declara fuera de cualquier función.
#   - Es accesible desde cualquier parte del código, incluso dentro de funciones,
#     siempre que no exista una variable local con el mismo nombre.
#   - Vive durante toda la ejecución del script.

#    Variable Local:
#   - Se declara dentro de una función.
#   - Solo existe y es accesible mientras la función se ejecuta.
#   - Una vez que la función termina, la variable local se destruye.

#    Importante:
#   - Si dentro de una función creas una variable con el mismo nombre
#     que una global, la local "oculta" a la global mientras dure la función.
#   - Esto se llama "enmascaramiento de variables".

In [ ]:
%% R

# Ejemplo 1
# Variable global
var_global_x <- 10
print(paste("Fuera de la función: var_global_x =", var_global_x))

mi_funcion_scope <- function() {
  # Variable local
  var_local_y <- 20

  # Puede acceder a la global
  print(paste("Dentro de la función: var_global_x =", var_global_x))

  # Puede acceder a la local
  print(paste("Dentro de la función: var_local_y =", var_local_y))
}

mi_funcion_scope()

# Fuera de la función, var_local_y no existe
# print(var_local_y)  # → Error: object 'var_local_y' not found

In [ ]:
%%R

# Ejemplo 2: Enmascaramiento de variables
# Variable global
mensaje <- "Hola desde el entorno global"

mi_funcion_scope2 <- function() {
  # Variable local con el mismo nombre que la global
  mensaje <- "Hola desde la función (local)"

  print(paste("Dentro de la función:", mensaje))  # Usa la variable local
}

# Llamada a la función
mi_funcion_scope2()

# Fuera de la función, se sigue usando la variable global
print(paste("Fuera de la función:", mensaje))

###### Ejercicio aplicado 4

In [ ]:
%%R
#===============================================================================
# Importación de datos desde Google Drive en Google Colab
#===============================================================================

# Paso 1: Conectar Google Drive con Google Colab
# Esto permite acceder a los archivos que tenemos guardados en Drive,
# como si fueran parte del sistema de carpetas de Colab.
from google.colab import drive
drive.mount('/content/drive')

# Paso 2: Usar el módulo 'os' para explorar carpetas
import os

# Muestra los archivos que existen dentro de la carpeta especificada en Drive.
# En este ejemplo: "/content/drive/MyDrive/Midagri-data/"
# -> Aquí deberías ver tus archivos CSV, Excel, Stata, etc. guardados en esa ruta.
os.listdir("/content/drive/MyDrive/Midagri-data/")

In [ ]:

%%R

# 1. Cargar base ENAHO en formato Stata
base_enaho a <- read_dta("/content/drive/MyDrive/Midagri-databasefinal.dta")

# --------------------------------------------------
# 2. Crear variable de selección aleatoria (0 = control, 1 = experimento)
# --------------------------------------------------
set.seed(123)  # Semilla para reproducibilidad
base_enaho$seleccion <- sample(c(1,0), nrow(base_enaho), replace = TRUE)

# Subconjunto de "tratados" o seleccionados
experimento <- base_enaho[base_enaho$seleccion == 1, ]

# --------------------------------------------------
# 3. Crear variable de "notas"
# --------------------------------------------------
# Versión 1: Inicializar en 0 y luego asignar notas solo a mayores de edad
base_enaho$notas <- 0
base_enaho$notas[base_enaho$p208a >= 18 & !is.na(base_enaho$p208a)] <-
  sample(1:20, sum(base_enaho$p208a >= 18, na.rm = TRUE), replace = TRUE)

# Versión 2 (alternativa con dplyr y ifelse):
base_enaho <- base_enaho %>%
  mutate(notas = ifelse(p208a >= 18,
                        sample(1:20, sum(p208a >= 18, na.rm = TRUE), replace = TRUE),
                        NA))

# --------------------------------------------------
# 4. Inspeccionar resultados
# --------------------------------------------------
# Vista rápida de la base con las variables nuevas
head(base_enaho %>% select(p208a, seleccion, notas))